<script src="//res.wx.qq.com/open/js/{{ site.jweixin }}"></script>
<script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
if (/MicroMessenger/.test(navigator.userAgent)) {
$.ajax({
  url: "https://weapp.darkanchor.com/jssdk/dqmothergzh",
  data: {
    url: window.location.href
  },
  success: function(res) {
    wx.config({
      appId: res.appId,
      timestamp: res.timestamp,
      nonceStr: res.nonceStr,
      signature: res.signature,
      jsApiList: [
        'onMenuShareTimeline',
        'onMenuShareAppMessage',
        'onMenuShareQQ',
        'onMenuShareWeibo',
        'onMenuShareQZone'
      ]
    });
    wx.ready(function () {
      wx.onMenuShareTimeline({
        title: document.title, // 分享标题
        link: window.location.href, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
        imgUrl: 'https://www.darkanchor.com/assets/img/id-visa.jpg', // 分享图标
        success: function () {
          // 用户确认分享后执行的回调函数
        },
      });
      wx.onMenuShareAppMessage({
        title: document.title, // 分享标题
        desc: document.querySelector("meta[property='og:description']").getAttribute('content'), // 分享描述
        link: window.location.href, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
        imgUrl: 'https://www.darkanchor.com/assets/img/id-visa.jpg', // 分享图标
        type: 'link', // 分享类型,music、video或link，不填默认为link
        dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
        success: function () {
          // 用户确认分享后执行的回调函数
        },
        cancel: function () {
          // 用户取消分享后执行的回调函数
        }
      });
      wx.error(function(res){
        console.log('weixin error: '+res);
      });
    });
  }
});
}
</script>
