<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Telecommunications</h1>
            <span>Helsinki University of Technology</span>
            <span><address>Espoo, Finland</address><time>1999 to 2002</time></span>
        </header>
        <p>
            <em>Thesis: Performance study of a SMPP traffic generator</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Major in Telecommunications</h1>
            <span>Northen Jiaotong University</span>
            <span><address>Beijing, China</address><time>1994 to 1998</time></span>
        </header>
        <p>
            <em>Dissertation: Preliminary study of Synchronous Digital Hierarchy (SDH)</em>
        </p>
    </article>
</section>
