<section class="thirteen columns">
    <h1>教育经历</h1>
    <article>
        <header>
            <h1>通信工程，硕士</h1>
            <span>赫尔辛基理工大学</span>
            <span><address>埃斯波, 芬兰</address><time>1999 至 2002</time></span>
        </header>
        <p>
            <em>硕士论文：SMPP消息模拟器的实现以及性能分析</em>
        </p>
    </article>
    <article>
        <header>
            <h1>通信工程，学士</h1>
            <span>北方交通大学（现北京交通大学）</span>
            <span><address>北京</address><time>1994 至 1998</time></span>
        </header>
        <p>
            <em>学士论文：SDH系统的基础学习</em>
        </p>
    </article>
</section>
