<section class="thirteen columns">
    <h1>工作经历</h1>
    <article>
        <header>
            <h1>C++ 资深开发</h1>
            <span><address>埃森哲，上海</address><time>2019.5 至 2023.6</time></span>
        </header>
        <p>为中国外汇交易中心设计，实施金融现券，衍生品，回购市场的撮合交易系统。
        </p>
    </article>

    <article>
        <header>
            <h1>IT 总监</h1>
            <span><address>好孩子（中国）商贸，上海</address><time>2012 至 2018</time></span>
        </header>
        <p>设计，实施并集成电子商务系统，包括网站，手机应用，微信公众号，微信小程序等。
        </p>
    </article>
    <article>
        <header>
            <h1>自由职业, iOS 开发</h1>
            <span><address>北京</address><time>2011 至 2012</time></span>
        </header>
        <p>从事一些iOS外包开发工作</p>
    </article>
    <article>
        <header>
            <h1>技术负责人，项目经理</h1>
            <span><address>StreamWIDE 科技有限公司 北京</address><time>2008 至 2011</time></span>
        </header>
        <p>定义产品需求, 并领导实施软件开发工作, StreamWIDE是一家法国巴黎的科技公司，专注于基于SIP的消息系统开发，为华为提供非洲和欧洲的消息系统解决方案</p>
    </article>
    <article>
        <header>
            <h1>高级软件开发工程师</h1>
            <span><address>诺基亚网络，北京</address><time>2003 至 2008</time></span>
        </header>
        <p>C++开发 诺基亚短信中心SMSC</p>
    </article>
    <article>
        <header>
            <h1>系统测试工程师</h1>
            <span><address>诺基亚网络，赫尔辛基，芬兰</address><time>2000 至 2003</time></span>
        </header>
        <p>诺基亚短信中心SMSC和彩信中心MMSC的系统集成及性能测试</p>
    </article>
    <article>
        <header>
            <h1>初级软件开发工程师</h1>
            <span><address>十维电信，北京</address><time>1998 至 1999</time></span>
        </header>
        <p>汇编语言，单片机编程</p>
    </article>
</section>
