<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Senior C++ developer</h1>
            <span><address>Accenture, Shanghai</address><time>2019.5 to 2023.6</time></span>
        </header>
        <p>Design, implement X-bond, X-swap and X-repo series for CFETS
        </p>
    </article>
    <article>
        <header>
            <h1>IT Director</h1>
            <span><address>Goodbaby Co. Ltd. Shanghai, China</address><time>2012 to 2018</time></span>
        </header>
        <p>Design,implement and integrate e-commerce systems, including web sites, apps, wechat open platforms, miniprograms.
        </p>
    </article>
    <article>
        <header>
            <h1>Freelancer, iOS Developer</h1>
            <span><address>Beijing, China</address><time>2011 to 2012</time></span>
        </header>
        <p>Implement a few iOS apps</p>
    </article>
    <article>
        <header>
            <h1>Tech Lead, Product Manager</h1>
            <span><address>StreamWIDE Ltd. Beijing, China</address><time>2008 to 2011</time></span>
        </header>
        <p>Define messaging system requirements, lead the implemenation, StreamWIDE, based in Paris, is a supplier of Huawei products</p>
    </article>
    <article>
        <header>
            <h1>Software Architect Senior</h1>
            <span><address>Nokia Networks Beijing, China</address><time>2003 to 2008</time></span>
        </header>
        <p>C++ developer for Nokia Short Message Center</p>
    </article>
    <article>
        <header>
            <h1>Tester, System verification</h1>
            <span><address>Nokia Networks Helsinki, Finland</address><time>2000 to 2003</time></span>
        </header>
        <p>Performance tester, system verification for Nokia SMSC and MMSC</p>
    </article>
    <article>
        <header>
            <h1>Developer</h1>
            <span><address>ShiWei Telecom Ltd. Beijing, China</address><time>1998 to 1999</time></span>
        </header>
        <p>MCS-51 programming and testing</p>
    </article>
</section>
