<section class="thirteen columns">
    <h1>Hobbies</h1>
    <article>
        <p>ice hockey, language, culture, dogs</p>
    </article>
    <blockquote>
        <p>we are the nameless,</p>
        <p>spent days and hours with machines,</p>
        <p>with github and stackoverflow </p>
        <p>and call it social,</p>
        <p>we grew gray hair or become bald,</p>
        <p>we are the developers,</p>
        <p>we are the pillar of this era, the anchor in the dark</p>
    </blockquote>
</section>
