<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ site.author }}</title>
    <meta name="description" content="{{ site.author }}'s Résumé">
    <meta name="author" content="{{ site.author }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:description" content="software professional, hockey player, dog person">

    <link rel="stylesheet" href="/resume/css/base.css">
    <link rel="stylesheet" href="/resume/css/skeleton.css">
    <link rel="stylesheet" href="/resume/css/layout.css">
    <link rel="stylesheet" href="//apps.bdimg.com/libs/fontawesome/4.4.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/favicon.ico">
    <!-- <link rel="apple-touch-icon" href="static/img/me-icon-57.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="72x72" href="static/img/me-icon-72.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="114x114" href="static/img/me-icon-114.png"> -->
    {%- if jekyll.environment == 'production' and site.jweixin -%}
      {%- include wechat.html -%}
    {%- endif -%}
</head>
<body>
<div class="container">
    <header class="three columns">
        <img src="/assets/img/id-visa.jpg" class="me">
        <h1>{{ site.name }}</h1>
        <p>
            <a href="{{ site.tel_full }}">{{ site.tel }}</a>
        </p>
        <address>
            <a href="{{ site.google_maps }}">
                {{ site.address.street }}<br/>
                {{ site.address.postcode }}<br/>
                {{ site.address.city }}<br/>
                {{ site.address.country }}
            </a>
        </address>
        <p>
            <a href="{{ site.website_full }}">{{ site.website }}</a><br/>
        </p>
        <p>
            <a href="{{ site.email_full }}">{{ site.email }}</a><br/>
            <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github"></i> Github</a> /
            <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i> Twitter</a>
        </p>
    </header>
    <div class="thirteen columns clearfix">

        {{ content }}

    <footer class="thirteen columns">
        <p>© Powered by <a href="http://jekyllrb.com/">Jekyll</a> and
            <a href="https://www.github.com/jekyller/vitae">vitae</a> with ♥</p>
    </footer>
    </div>
</div>
<a href="https://github.com/kaiwu">
    <img style="position: absolute; top: 0; right: 0; border: 0;"
         src="/assets/img/ribbon.png"
         alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>

<!--<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('send', 'pageview');

</script>
-->

</body>
</html>
